body{
    background:#f5f5f5;
    font-family: Arial, sans-serif;
}

.artist-card{
    width:700px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 10px gray;
}

.artist-card img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
}

.artist-card h2{
    margin-top:15px;
}

.artist-card p{
    color:#555;
    margin:20px 0;
}

.social-buttons .btn{
    margin:5px;
}